<%= simple_form_for(@contact_activity) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :contact %>
    <%= f.association :campaign %>
    <%= f.association :activity %>
    <%= f.input :description %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
