<p id="notice"><%= notice %></p>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            <i class="fa fa-fw fa-area-chart color-3"></i> Actividades recientes: <small>contactos</small>
        </h1>
        <ol class="breadcrumb">
            <%= nav_link "Escritorio", pages_dashboard_path, 'fa fa-tachometer' %>
            <%= nav_link "Listado", contacts_path, 'fa fa-table' %>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive">
            <table id="tablacredo" class="display table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Contacto</th>
                        <th>Campaña</th>
                        <th>Última actividad</th>
                        <th>Descripción</th>
                        <th class="text-center">Ver</th>
                        <th class="text-center">Editar</th>
                        <th class="text-center">Eliminar</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Contacto</th>
                        <th>Campaña</th>
                        <th>Última actividad</th>
                        <th>Descripción</th>
                        <th class="text-center">Ver</th>
                        <th class="text-center">Editar</th>
                        <th class="text-center">Eliminar</th>
                    </tr>
                </tfoot>
                <tbody>
                  <% @contact_activities.each do |contact_activity| %>
                    <tr>
                      <td><%= contact_activity.contact %></td>
                      <td><%= contact_activity.campaign %></td>
                      <td><%= contact_activity.activity %></td>
                      <td><%= contact_activity.description %></td>

                      <td width="7%" align="center">
                        <%= link_to contact_activity do %>
                          <i class="fa fa-eye"></i>
                        <% end %>
                      </td>
                      <td width="7%" align="center">
                        <%= link_to edit_contact_activity_path(contact_activity) do %>
                          <i class="fa fa-fw fa-pencil"></i>
                        <% end %>
                      </td>
                      <td width="7%" align="center">
                        <%= link_to contact_activity, method: :delete, data: { confirm: 'Are you sure?' } do %>
                        <i class="fa fa-trash"></i>
                        <% end %>
                      </td>

                    </tr>
                  <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>


<br>

<%= link_to 'New Contact activity', new_contact_activity_path %>
