
<style>
  body {
    background-color: #E6E6E6;
  }
</style>

<div class="row top20">
    <div class="col-lg-12">
        <h1 class="page-header">
            <i class="fa fa-fw fa-calendar-check-o color-3"></i> Actividades de <%= @contact.first_name.blank? ? @contact.email : @contact.first_name %>
        </h1>
        <ol class="breadcrumb">
            <%= nav_link "Escritorio", pages_dashboard_path, 'fa fa-tachometer' %>
            <%= nav_link "Listado", contacts_path, 'fa fa-table' %>


            <li class="active">
                <i class="fa fa-user"></i> Actividades de <%= @contact.first_name %>
            </li>
        </ol>
    </div>
</div>

<div class="row">
   <div class="col-md-8 col-sm-12 top20" >
       <div >
           <ul class="timeline">
              <li class="time-label">
                <span class="color-3-bg"> <%= @contact_activities.count %> Actividades</span>
              </li>
              <% @contact_activities.each do |contact_activity| %>
              <li>
                <i class="fa fa-bullhorn bg-camp"></i>
                <div class="timeline-item">
                  <span class="time">
                    <i class="fa fa-calendar"></i>
                    <%= contact_activity.created_at.strftime('%d/%m/%Y %H:%M hrs.') %>
                  </span>
                  <h3 class="timeline-header"><%= contact_activity.activity.description %> en campaña: <%= link_to contact_activity.campaign.name, campaign_path(contact_activity.campaign) %></h3>
                  <div class="timeline-body">
                    <%= contact_activity.description.html_safe %>
                  </div>
                </div>
              </li>
              <% end %>
               <li>
                  <i class="fa fa-clock-o"></i>
               </li>
           </ul>
       </div>
   </div>
</div>

<p id="notice"><%= notice %></p>

<br />

<%= link_to 'Volver', contact_activities_path %>
