<p id="notice"><%= notice %></p>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Tipos de Campaña
        </h1>
        <ol class="breadcrumb">
            <%= nav_link "Escritorio", pages_dashboard_path, 'fa fa-tachometer' %>
            <%= nav_link "Tipos de Campaña", campaign_types_path, 'fa fa-table' %>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-8">
        <h2>Datos de usuario</h2>
        <div class="table-responsive">
            <table id="tablacredo" class="display table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Tipo de campaña</th>
                        <th class="text-center">Ver</th>
                        <th class="text-center">Editar</th>
                        <th class="text-center">Eliminar</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Tipo de campaña</th>
                        <th class="text-center">Ver</th>
                        <th class="text-center">Editar</th>
                        <th class="text-center">Eliminar</th>
                    </tr>
                </tfoot>
                <tbody>
                  <% @campaign_types.each do |campaign_type| %>
                    <tr>
                      <td><%= campaign_type.description %></td>

                      <td width="8%" align="center">
                        <%= link_to campaign_type do %>
                          <i class="fa fa-eye"></i>
                        <% end %>
                      </td>
                      <td width="8%" align="center">
                        <%= link_to edit_campaign_type_path(campaign_type) do %>
                          <i class="fa fa-fw fa-pencil"></i>
                        <% end %>
                      </td>
                      <td width="8%" align="center">
                        <%= link_to campaign_type, method: :delete, data: { confirm: 'Are you sure?' } do %>
                        <i class="fa fa-trash"></i>
                        <% end %>
                      </td>


                    </tr>
                  <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<br>

<%= link_to 'Agregar nuevo tipo de Campaña', new_campaign_type_path, class: "btn-credo" %>
