<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @campaign_type.description %>
</p>

<%= link_to 'Edit', edit_campaign_type_path(@campaign_type) %> |
<%= link_to 'Back', campaign_types_path %>
