<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<div class="row">
    <div class="col-md-12">
        <h4>Dashboard</h4>
    </div>
</div>


<div class="row" style="margin-top: 10px;">
<div class="col-md-8">

    <div id="container" style="height: 300px; margin-bottom: 20px;">
    </div>


    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <h3 class="panel-title">Generados este mes</h3>
                <h2><%= @contactsOfTheMonth %></h2>

              </div>
            </div>
        </div>



        <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <h3 class="panel-title">Prom. Actividad</h3>
                <h2><%= @averageActivity %></h2>
              </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <h3 class="panel-title">Total Contactos</h3>
                <h2><%= @totalContacts %></h2>
              </div>
            </div>
        </div>


    </div>


</div>

<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Top 15 Participantes</h3>
          </div>
      <div class="panel-body">

          <ul>
            <% @contactTop.each do | contact | %>
              <li>
                <%= link_to contact_path(contact) do %>

                    <%= contact.first_name.empty? ? contact.email : contact.first_name + " " + contact.last_name
                    %>

                <% end %>
                (<%= contact.activities_count %>)
            </li>
            <% end %>


          </ul>

      </div>
      <h4>Ver ranking especifico<h4>
      <form action="/pages/ranking" method="get">
        <input type="number" name="quantity" placeholder="Ingrese una cantidad">
        <input type="submit" value="Mostrar"/>
      </form>
    </div>
</div>




<script>


    Highcharts.chart('container', {
        chart: {
            zoomType: 'x'
        },
        title: {
            text: 'Contactos Generados por Mes'
        },
        subtitle: {
            text: document.ontouchstart === undefined ?
                    'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
        },
        xAxis: {
            type: 'datetime',

        },
        yAxis: {
            title: {
                text: 'Cantidad de Contactos'
            },
            min: 0
        },
        legend: {
            enabled: false
        },
        plotOptions: {
            area: {
                fillColor: {
                    linearGradient: {
                        x1: 0,
                        y1: 0,
                        x2: 0,
                        y2: 1
                    },
                    stops: [
                        [0, Highcharts.getOptions().colors[0]],
                        [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                    ]
                },
                marker: {
                    radius: 2
                },
                lineWidth: 1,
                states: {
                    hover: {
                        lineWidth: 1
                    }
                },
                threshold: null
            }
        },

        series: [{
            type: 'area',
            name: 'Contactos',
            data: <%=  @dataContact.to_s.gsub(/\s|"|'/, '') %>
        }]
    });

</script>

</div>
