
<h1>Top <%= @quantity %> Participantes</h1>

<form action="/pages/ranking" method="get">
  <input type="number" name="quantity" placeholder="Ingrese una cantidad">
  <input type="submit" value="Mostrar"/>
</form>

<table>
  <thead>
    <th>
      Nombre o Email
    </th>
    <th>
      Veces que Participo
    </th>
  </thead>
  <tbody>
<% @top.each do |contact| %>
  <tr>
    <td>

    <%= link_to contact_path(contact) do
        if contact.first_name.blank?
          contact.email
        else
          contact.first_name
        end
    end %>

    <td>
      <%= contact.activities_count %>
    </td>
  </tr>
<%end%>
  </tbody>
</table>
