<%= simple_form_for(@contact) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name , :label => "Nombre"%>
    <%= f.input :last_name , :label => "Apellidos"%>
    <%= f.input :email, :label => "Correo Electrónico" %>

    <%= f.simple_fields_for :contact_information do |builder| %>
      <%= builder.input :rut, :label => "RUT" %>
      <%= builder.input :birthdate, as: :date, start_year: Date.today.year - 90,
                             end_year: Date.today.year - 12, discard_day: false,
                             order: [:day, :month, :year] %>
      <%= builder.input :phone, :label => "Teléfono" %>
      <%= builder.input :address, :label => "Direccion" %>
      <%= builder.input :commune, :label => "Comuna" %>
      <%= builder.input :region, :label => "Región" %>


    <% end %>

    <label>Fuente</label><br>
    <%= f.collection_select(:source, Campaign.all, :name, :name, {:selected => "Registro Manual"}) %>
    <br><br>
    <%= f.label :donor, :label => "Tipo de Donante" %>
    <%= f.select(:donor, options_for_select(['Mensual', 'Único', 'Valor', 'Modalidad'], 3),
                        {})

                         %>
  </div>

  <%= f.simple_fields_for :contact_observations do |builder| %>
    <%= builder.input :comment, :label => "Comentarios" %>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
