<div class="row">
    <div class="col-lg-12">

        <h1 class="page-header">
          <i class="fa fa-pencil-square-o color-1"></i> Editar contacto: <small><%= @contact.first_name %></small>
        </h1>

        <ol class="breadcrumb">
            <%= nav_link "Escritorio", pages_dashboard_path, 'fa fa-tachometer' %>
            <%= nav_link "Listado", contacts_path, 'fa fa-table' %>
            <li class="active">
                <i class="fa fa-user"></i> Editar contacto <%= @contact.first_name %>
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-8">
       <%= render 'form' %>
    </div>
</div>

<br />

<%= link_to 'Ver', @contact %> |
<%= link_to 'Volver', contacts_path %>
