  <p id="notice"><%= notice %></p>

  <!-- Page Heading -->
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">
              <i class="fa fa-fw fa-users color-1"></i> Lista de Contactos
          </h1>
          <ol class="breadcrumb">
              <%= nav_link "Escritorio", pages_dashboard_path, 'fa fa-tachometer' %>
              <%= nav_link "Listado", contacts_path, 'fa fa-table' %>
          </ol>
      </div>
  </div>

  <div class="row">
      <div class="col-lg-12">
          <h2>Datos de contactos <small>Descargar: <%= link_to 'CSV', contacts_path(format: 'csv') %> | <%= link_to 'Excel', contacts_path(format: 'xls') %></small></h2>
          <div class="table-responsive">
              <table id="list_contacts" class="table table-striped table-bordered" data-source="<%= contacts_url(format: 'json') %>">
                  <thead>
                      <tr>
                          <th>ID</th>
                          <th>Nombre</th>
                          <th>Apellido</th>
                          <th>Correo</th>
                          <th>Activo en</th>
                          <th>Última actividad</th>
                          <th class="text-center">Ver más</th>
                          <th class="text-center">Actividades</th>
                          <th class="text-center">Acciones</th>

                      </tr>
                  </thead>
                  <tbody>
                  </tbody>
              </table>
          </div>
      </div>
  </div>

  <br>

  <%= link_to 'Agregar nuevo contacto', new_contact_path, class: "btn-credo" %>

  <% content_for :js_footer do %>
    <%= javascript_include_tag 'contacts' %>
  <% end %>
