<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">Nombre</Data></Cell>
        <Cell><Data ss:Type="String">Apellidos</Data></Cell>
        <Cell><Data ss:Type="String">Email</Data></Cell>
        <Cell><Data ss:Type="String">Fuente</Data></Cell>
        <Cell><Data ss:Type="String">Actividades</Data></Cell>
      </Row>
    <% @contacts.each do |contact| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= contact.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= contact.first_name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= contact.last_name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= contact.email %></Data></Cell>
        <Cell><Data ss:Type="String"><%= contact.source %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= contact.activities_count %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
