<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            <i class="fa fa-user-plus color-1"></i> Agregar nuevo contacto
        </h1>
        <ol class="breadcrumb">
            <%= nav_link "Escritorio", pages_dashboard_path, 'fa fa-tachometer' %>
            <%= nav_link "Listado", contacts_path, 'fa fa-table' %>
            <li class="active">
                <i class="fa fa-user-plus"></i> Agregar nuevo contacto
            </li>
        </ol>
    </div>
</div>
<br>
<div class="row">
    <div class="col-lg-8">
        <%= render 'form' %>
    </div>
</div>
<br>
<%= link_to 'Volver', contacts_path %>
