<p id="notice"><%= notice %></p>


<div class="row">
    <div class="col-lg-12">

        <h1 class="page-header">
          Perfil de <%= @contact.first_name.blank? ? @contact.email : @contact.first_name %>
        </h1>

        <ol class="breadcrumb">
            <%= nav_link "Escritorio", pages_dashboard_path, 'fa fa-tachometer' %>
            <%= nav_link "Listado", contacts_path, 'fa fa-table' %>
            <li class="active">
                <i class="fa fa-user"></i> Perfil de <%= @contact.first_name %>
            </li>
        </ol>
    </div>
</div>

<div class="row">
  <div class="col-md-6">
    <table class="table table-user-information">
      <tbody>
        <tr>
          <td><strong>Nombre:</strong></td>
          <td><%= @contact.first_name %></td>
        </tr>
        <tr>
          <td><strong>Apellido:</strong></td>
          <td><%= @contact.last_name %></td>
        </tr>
        <tr>
          <td><strong>Email:</strong></td>
          <td><%= @contact.email %></td>
        </tr>
        <tr>
          <td><strong>Source:</strong></td>
          <td><%= unless @contact.source.blank?
                    link_to @contact.source, campaign_path(@campaign)

                else  "No hay fuente definida"
                end%></td>
        </tr>
        <tr>
          <td><strong>Fecha Nacimiento:</strong></td>
          <td><%= @contact.contact_information.birthdate unless @contact.contact_information.nil? %></td>
        </tr>
        <tr>
          <td><strong>Teléfono:</strong></td>
          <td><%= @contact.contact_information.phone unless @contact.contact_information.nil? %></td>
        </tr>
        <tr>
          <td><strong>Direccion:</strong></td>
          <td><%= @contact.contact_information.address unless @contact.contact_information.nil? %></td>
        </tr>
        <tr>
          <td><strong>Comuna:</strong></td>
          <td><%= @contact.contact_information.commune unless @contact.contact_information.nil? %></td>
        </tr>
        <tr>
          <td><strong>Region:</strong></td>
          <td><%= @contact.contact_information.region unless @contact.contact_information.nil? %></td>
        </tr>
        <tr>
          <td><strong>Número de Participaciones</strong></td>
          <td><%= @contact.activities_count %></td>
        </tr>
        <tr>
          <td><strong>Tipo de Donante</strong></td>
          <td><%= @contact.donor %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>



<% if @contact.contact_observations.present? %>
<div class="row">
  <div class="col-md-6">
  <strong>Observaciones</strong>
  <% @contact.contact_observations.each do |o| %>
    <div class="caja-observaciones">
      <span class="fecha-o"><%= o.updated_at.strftime("%B %e, %Y") %></span>
      <%= o.comment %>
    </div>
  <% end %>
  </div>
</div>
<% end %>


<%= link_to 'Editar', edit_contact_path(@contact) %> |
<%= link_to 'Ver Actividades', contact_activity_path(@contact) %> |
<%= link_to 'Volver', contacts_path %>
