<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            <i class="fa fa-pencil-square-o color-2"></i> Editar Campaña: <small><%= @campaign.name %></small>
        </h1>
        <ol class="breadcrumb">
            <%= nav_link "Escritorio", pages_dashboard_path, 'fa fa-tachometer' %>
            <%= nav_link "Listado", campaigns_path, 'fa fa-table' %>
            <li class="active">
                <i class="fa fa-pencil-square-o"></i> Editar Campaña
            </li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-lg-8">
        <%= render 'form' %>
    </div>
</div>

<br />

<%= link_to 'Ver', @campaign %> |
<%= link_to 'Volver', campaigns_path %>
