<p id="notice"><%= notice %></p>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            <i class="fa fa-fw fa-bullhorn color-2"></i> Listado de Campañas
        </h1>
        <ol class="breadcrumb">
            <%= nav_link "Escritorio", pages_dashboard_path, 'fa fa-tachometer' %>
            <%= nav_link "Listado campañas", campaigns_path, 'fa fa-table' %>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h2>Datos de campañas</h2>
        <div class="table-responsive">
            <table id="list_campaigns" class="display table table-bordered table-hover" data-source="<%= campaigns_url(format: 'json') %>">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Tipo de campaña</th>
                        <th>Fecha de creación</th>
                        <th class="text-center"></th>
                        <th class="text-center"></th>
                        <th class="text-center"></th>
                    </tr>
                </thead>
                <!-- <tfoot>
                    <tr>
                        <th>Nombre</th>
                        <th>Tipo de campaña</th>
                        <th class="text-center">Ver</th>
                        <th class="text-center">Editar</th>
                        <th class="text-center">Eliminar</th>
                    </tr>
                </tfoot> -->
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<br>

<%= link_to 'Agregar nueva Campaña', new_campaign_path, class: "btn-credo" %>

<% content_for :js_footer do %>
  <%= javascript_include_tag 'campaigns' %>
<% end %>
