<div class="row">
    <div class="col-lg-8">
        <h1 class="page-header">
            <%= image_tag("campagnadd.svg", :alt => "icono", :width => "43", :class => "verticalbot") %> Agregar nueva campaña
        </h1>
        <ol class="breadcrumb">
            <%= nav_link "Escritorio", pages_dashboard_path, 'fa fa-tachometer' %>
            <%= nav_link "Listado", campaigns_path, 'fa fa-table' %>
            <li class="active">
                <%= image_tag("campagnadd.svg", :alt => "icono", :width => "18", :class => "verticalbot") %> Agregar nueva campaña
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-8">
        <%= render 'form' %>
    </div>
</div>

<br />

<%= link_to 'Volver', campaigns_path %>
