<p id="notice"><%= notice %></p>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Detalle Campaña: <small><%= @campaign.name %></small>
        </h1>
        <ol class="breadcrumb">
            <%= nav_link "Escritorio", pages_dashboard_path, 'fa fa-tachometer' %>
            <%= nav_link "Listado", campaigns_path, 'fa fa-table' %>
            <li class="active">
                Editar Campaña
            </li>
        </ol>
    </div>
</div>

<div class="row">
  <div class="col-md-6">
    <table class="table table-user-information">
      <tbody>
        <tr>
          <td><strong>Nombre de Campaña:</strong></td>
          <td><%= @campaign.name %></td>
        </tr>
        <tr>
          <td><strong>Tipo de campaña:</strong></td>
          <td><%= @campaign.campaign_type.description %></td>
        </tr>
        <tr>
          <td><strong>Creación:</strong></td>
          <td><%= @campaign.created_at.strftime('%d/%m/%Y %H:%M hrs.') %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= link_to 'Editar', edit_campaign_path(@campaign) %> |
    <%= link_to 'Volver', campaigns_path %>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
  <h3>Contactos que participaron (<%= @campaign.contact_activities.count %>)</h3>
    <table class="table table-user-information">
      <tbody>
        <% @campaign.contact_activities.each.with_index(1) do |activity, index| %>
        <tr>
          <td><%= index %></td>
          <td><%= link_to activity.contact.email, contact_path(activity.contact) %></td>
          <td><%= activity.created_at.strftime('%d/%m/%Y %H:%M hrs.') %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
