// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// $contact-color: #BD8C30;
// $campaigns-color: #2B868C;
// $activities-color: #BF4E35;
//
// #wrapper {
//     border-color: $contact-color;
// }
//
// .btn-credo, .btn {
//     background-color: $contact-color;
// }
//
// .btn-credo:hover, .btn:hover {
//     background-color: $contact-color;
// }
//
// a {
//     color: $contact-color;
//     text-decoration: none;
// }
// a:hover {
//     color: $contact-color;
// }
