/*!
 * Start Bootstrap - SB Admin Bootstrap Admin Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Global Styles */

body {
    margin-top: 100px;
}
a {
    color: #f2aa23;
    text-decoration: none;
}
a:hover {
    color: #f2aa23;
}
@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
}

.huge {
    font-size: 50px;
    line-height: normal;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 200px;
        padding-bottom: 40px;
    }

    #page-wrapper {
        padding: 10px;
    }
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #000;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 195px;
        width: 195px;
        margin-left: -195px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #E2E2E2;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
        box-shadow: -4px 0px 20px black;
    }

    .side-nav>li>a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #ECECEC !important;
    }

}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
    color: #222;
}

/* Flot Chart Containers */

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* Custom Colored Panels */

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green > .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green > a {
    color: #5cb85c;
}

.panel-green > a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red > .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red > a {
    color: #d9534f;
}

.panel-red > a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow > a {
    color: #f0ad4e;
}

.panel-yellow > a:hover {
    color: #df8a13;
}
.navbar-brand {
    padding: 10px 15px;
}
.btn {
    padding: 3px 7px;
    font-size: 13px;
    font-weight: 300;
}
.btn-primary {
    color: #000;
    background-color: #E6B85E;
    border-color: #E6B85E;
}
body .btn-primary:hover,.btn-primary:focus,.btn-primary:active {
    color: #000!important;
    background-color: #D6AA55!important;
    border-color: #D6AA55!important;
}
thead {
    background-color: #EAEAEA;
}
.table-hover>tbody>tr:hover {
    background: #E8E8E8;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #D8A74B;
    border-color: #E7B85E;
}
.pagination>li>a, .pagination>li>span {
    color: #f2aa23;
    background-color: #fff;
}
#tablacredo {
    margin: 20px 0 20px 0;
}
.navbar-inverse .navbar-nav > li > a {
    color: #333;
}
.side-nav > li > ul > li > a {
    color: #555;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #000;
    background-color: #CCCCCC;
}
li ul li.active {
    border-left: 3px solid #E7B85E;
}
li ul li.active a{
    padding: 10px 18px 10px 35px;
    font-weight: 600;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #222;
    background-color: transparent;
}
.breadcrumb i {
    color: #333;
}
.breadcrumb {
    background-color: inherit;
}
.page-header {
    padding-bottom: 9px;
    margin: 20px 0 20px;
    border-bottom: 1px solid #eee;
}
.close {
    float: right;
    font-size: 25px;
    font-weight: bold;
    line-height: 0.7;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

$contact-color: #f2aa23;
$campaigns-color: #2B868C;
$activities-color: #BF4E35;

.color-1 {
    color: $contact-color;
}
.color-2 {
    color: $campaigns-color;
}
.color-3 {
    color: $activities-color;
}

.btn-credo, .btn {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-weight: 300;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.39);
    background-color: #f2aa23;
}
.btn-credo:hover, .btn-credo:focus, .btn:hover, .btn:focus {
    transition: 0.5s;
    opacity: 0.8;
    color: #fff;
    text-decoration: none;
    background-color: #f2aa23;
}

#wrapper {
    border-top: 7px #A9A9A9 solid;
}

.navbar-inverse .navbar-nav > li.menu-contact ul li.active {
    border-left: 3px solid $contact-color;
}

.navbar-inverse .navbar-nav > li.menu-contact a {
    color: $contact-color;
}


.navbar-inverse .navbar-nav > li.menu-campaigns ul li.active {
    border-left: 3px solid $campaigns-color;
}

.navbar-inverse .navbar-nav > li.menu-campaigns  a {
    color: $campaigns-color;
}



.navbar-inverse .navbar-nav > li.menu-activities ul li.active {
    border-left: 3px solid $activities-color;
}

.navbar-inverse .navbar-nav > li.menu-activities a {
    color: $activities-color;
}


body .navbar-inverse .navbar-nav > li ul li a {
    color: #333!important;
}
.login {
    background-color: #fff;
    padding: 10px 20px 30px 20px;
    border-radius: 3px;
}
.top50 {
    margin-top: 50px;
}
.caja-observaciones {
    border: 1px solid #E0E0E0;
    margin: 10px 0;
    padding: 10px 10px;
    border-radius: 5px;
    border-left: 2px solid #E0E0E0;

}
.caja-observaciones .fecha-o {
    font-size: 11px;
    color: #ADADAD;
    display: block;
    padding-bottom: 4px;
    border-bottom: 1px solid #EAE9E9;
    margin-bottom: 8px;
}
