// Place all the styles related to the CampaignTypes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: #E6E6E6;
}
#wrapper {
  padding-left: inherit;
  padding-bottom: 40px;
}