<p id="notice"><%= notice %></p>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            <i class="fa fa-fw fa-area-chart color-3"></i> Listado de actividades
        </h1>
        <ol class="breadcrumb">
            <%= nav_link "Escritorio", pages_dashboard_path, 'fa fa-tachometer' %>
            <%= nav_link "Tipos de actividad", activities_path, 'fa fa-table' %>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h2>Datos de actividades</h2>
        <div class="table-responsive">
            <table id="" class="display table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Descripción de actividad</th>
                        <th class="text-center"></th>
                        <th class="text-center"></th>
                        <th class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                  <% @activities.each do |activity| %>
                    <tr>
                      <td><%= activity.description %></td>
                      <td><%= link_to 'Ver', activity %></td>
                      <td><%= link_to 'Editar', edit_activity_path(activity) %></td>
                      <td><%= link_to 'Eliminar', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    </tr>
                  <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<br>

<%= link_to 'Agregar nueva actividad', new_activity_path %>
